@import "~react-toolbox/lib/colors";
$unit: 1rem;
$color-primary: $palette-indigo-500;
$color-primary-dark: $palette-indigo-700;
$color-content: #fafafa;
$content-offset: 4.8 * $unit;
$content-width: 740px;
$color-accent: $palette-pink-a200;
$color-accent-dark: $palette-pink-700;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;
$color-text: $palette-grey-900 !default;
$color-text-secondary: $palette-grey-600 !default;
$drawer-background-color: rgb(242, 242, 242);
$navigation-drawer-mobile-width: 232;
$navigation-drawer-max-mobile-width:232;
$input-text-label-color: rgba($color-black, 0.26) !default;
$input-padding: 2 * $unit !default;
$input-icon-font-size: 2.4 * $unit !default;
$input-icon-size: 2 * $input-icon-font-size !default;
$input-icon-offset: 1.6 * $unit !default;
$snackbar-horizontal-offset: 8.5rem;